@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  background-color: rgb(1, 23, 71);
}

.App {
  font-family: 'Lexend Deca', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  user-select: none;
}
