@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  background-color: rgb(1, 23, 71);
}
.skew-bg-silver {
  position: absolute;
  right: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  border-radius: 80px;
  background-image: linear-gradient(rgb(232, 239, 252), rgb(153, 186, 255));
}
